{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel = 'stylesheet' href = "{% static 'css/dashboard.css' %}">
{% endblock head %}

{% block title %} Dashboard {% endblock title %}
{% block body %}
    {% include 'header.html' %}
    <div class = 'dashboard-container'>
        {% if message %}
                {% include 'alert.html' %}
                <form method="post">
                    {% csrf_token %}
                    <button type = "submit" name = 'add2watchlist'>Add</button>
                </form>
        {% endif %}
        {% for item in cart_items %}
            {{ item.name }}
        {% endfor %}
        <div class = 'empty-dashborad'>
            <span class = 'heading-1'>You have nothing bookmarked yet.</span>
            <span class = 'heading-2'>Add a product URL to get started</span>
            <br/>
            <br/>
            <img src = "{% static 'images/add_icon.png' %}">
            <form method = 'POST' action ="">
                {% csrf_token %}
                <input type = 'url' name = 'product_url' placeholder="URL">
                <button type = 'submit' name = 'search'>Submit</button>
            </form>
        </div>
    </div>
{% endblock body%}