.about-container-grid {
    margin-top: 3rem;
    display: flex;
    place-items: center;
    min-height: 95vh;
    padding: 0 2rem;
    justify-content: center;
    gap: 1rem;
}

.person-card {
    width: 20rem;
    height: 25rem;
    background: linear-gradient(68.25deg, #12121b 0%, #380d50 100%);;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    transition: all 0.2s ease-in-out;
    color: #fff;
}

.person-card:hover {
    box-shadow: 10px 10px 2px 2px #58585870;
    transform: translate(-0.5rem, -0.5rem);
}

.person-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1rem;
    flex: 1;
}

.person-image-container img{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #343434;
    object-fit: cover;
}

.person-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.person-details .name {
    font-size: 4vmin;
    text-align: center;
}

.person-details .reg-no {
    font-size: 3vmin;
    text-align: center;
}

.person-details .role {
    font-size: 2.5vmin;
    background-color: purple;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    height: -webkit-fill-available;
}

@media (max-width: 768px) {
   .person-details.name {
        font-size: 3vmin;
    }
    .about-container-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 3rem 0;
    }
}