* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #220D2E;
}

::-webkit-scrollbar-thumb {
    background-color: #9F0CB7;
    border-radius: 200px;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-image: url('../images/circle.png'), url('../images/triangle.png'), linear-gradient(68.25deg, #17161A 0%, #220D2E 98.71%);
    background-repeat: no-repeat;
    background-size: 40%, 50%, 100%;
    background-position: top left, 120% 20em, left;
    background-attachment: local;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    all: unset;
}

.float {
    position: absolute;
    border-radius: 10000px;
    height: 50vh;
    width: 50vh;
    background-color: #9F0CB7;
    filter: blur(300px);
    animation: floating_shape 30s ease-in-out;
    animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes floating_shape {
    0% {
        top: 10%;
        right: 0%;
    }
    25% {
        top: 40%;
        right: 30%;
    }
    50% {
        top: 70%;
        right: 70%;
    }
    75% {
        top: 50%;
        right: 50%;
    }
    100% {
        top: 10%;
        right: 0%;
    }
}
