.header {
    height: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "Clash Display";
    font-size: 1.5vw;
    color: white;
}

.header .title {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    cursor: pointer;
}

.title a {
    height: inherit;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.header .title span {
    font-size: inherit;
}

.header .title img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main {
    height: 100%;
    background-image: url('../images/header.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
}

.main ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    list-style-type: none;
}   

.main li:hover{
    cursor: pointer;
    color: #976db0;
    background-color: transparent;
    position:sticky;
}

.status {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.status .profile-container {
    display: flex;
    gap: 1rem;
    padding-right: 5%;
    cursor: pointer;
    z-index: 10;
}

/* .profile-container:hover .dropdown-menu {
    z-index: 1;
    opacity: 1;
    transform: translateY(0%);
} */

.side {
    stroke: #525252;
}

.dropdown-menu {
    opacity: 0;
    width: 12rem;
    background-color: #240e2f;
    position: absolute;
    top: 5rem;
    right: 1rem;
    z-index: 3;
    border-radius: 0.5rem;
    border: 1px solid #eaeaea;
    transition: all 1s;
    z-index: 1;
    transform: translateY(-20%);
}

.dropdown-menu-show {
    opacity: 1;
    transform: translateY(0%);
}

.dropdown-menu-option {
    padding: 2vmin;
    padding-left: 2vmin;
    border-radius: inherit;
}

.dropdown-menu-option:hover {
    font-size: 1.6vw;
    transition: 0.5s ease-in-out;
    border: 1px solid white;
}

@media screen and (max-width: 768px) {
    .header {
        height: 10vh;
        font-size: 5vmin;
    }
    .main {
        display: none;
    }
}
