.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Clash Display";
    font-size: 1.5vw;
    color: white;
}

.header .title {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 0.5rem;

}

.title a {
    display: flex;
    align-items: center;
}

.header .title span {
    font-size: inherit;
}

.header .title img {
    height: 80%;
}

.main {
    height: 3em;
    width: 50%;
    background-image: url('../images/header.png');
    background-size: 100% 3em; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: -2rem;
}

.main ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    list-style-type: none;
    margin-bottom: 1.5%; 
}


.main li:nth-child(1) {
    margin-left: 3%;
}

.main li:nth-child(2){
    margin: 0px 10%;
}

.status {
    display: flex;
    flex: 1;
    align-items: flex-start;
    padding-right: 1%;
}

.status:hover{
    cursor: pointer;
    color: #976db0;
    background-color: transparent;
}
.main li:hover{
    cursor: pointer;
    color: #976db0;
    background-color: transparent;
    position:sticky;
}

@media screen and (max-width: 768px) {
    .header {
        height: 10vh;
        font-size: 5vmin;
    }
    .main {
        display: none;
    }
}
