.product-container-wrapper {
    display: grid;
    height: 95vh;
    align-items: center;
    padding: 0 2rem;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}

.product-card {
    border-radius: 1rem;
    padding: 1rem;

    background: #fff;
    box-shadow: 5px 5px 20px 10px #161616;

    display: grid;
    align-content: space-between;

    font-family: sans-serif;
    font-size: 2vmin;
}

.product-image {
    display: flex;
    justify-content: center;
}

.product-image img {
    display: block;
    width: 100%;
}

.product-details {
    display: grid;
    gap: 1rem;
    font-family: inherit;
    font-size: 2.6vmin;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-rating-price-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
}

.button-container .btn {
    padding: 0.5rem;
    flex: auto;
    font-family: 'Clash Display';
    font-size: 2.5vmin;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    background: transparent;
}
